<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>
<body>
    <h1> Welcome to PetFax ! 🐶🐱🐇 </h1>
        <div class="wrapper">
            {% for pet in pets %}
                <div>
                    <h2>{{pet.pet_name}}</h2>
                    <img src="{{pet.pet_photo}}" alt="pet image"/>
                    <a href="/pets/{{pet.pet_id}}" >Learn More </a>
                </div>
            {% endfor %}
        </div>
        <div>
            We'd love to learn more fun facts!
            <a href="/facts/new">Submit here!</a>
        </div>
</body>
</html>




